<nav class="navbar navbar-default">

  <div class="branding">
    <div class="nav navbar-nav navbar-right">
      <span class="w3c"><a href="http://w3.org/">
        <img alt="W3C" width="85" height="50" src="images/w3c.png">
      </a></span>
      <span class="wai"><a href="http://w3.org/WAI/">
        <img alt="Web Accessibility Initiative" width="194" height="48"
        src="images/wai.png">
      </a></span>
    </div>
  </div>


  <ul class="nav navbar-nav navbar-left">
    <li><a href="#/" target="_blank">
        <span class="glyphicon glyphicon-file"></span>&nbsp;
        {{:: 'NAV_NEW' | translate }}
    </a></li>

    <li><a href="#/import">
        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
        {{:: 'NAV_IMPORT' | translate }}
    </a></li>

    <li><a href="#/export" title="{{:: 'NAV_EXPORT_TITLE' | translate}}">
        <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;
        {{:: 'NAV_EXPORT' | translate }}
    </a></li>

    <li class="dropdown" dropdown>
      <a href="#" class="dropdown-toggle" dropdown-toggle>
        <span class="glyphicon glyphicon-link"></span>&nbsp;
        {{:: 'NAV_LINKS' | translate }}
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu" lang="en">
        <li><a target="_blank"
          href="http://www.w3.org/WAI/intro/wcag">
            Web Content Accessibility Guidelines (WCAG) 2.0</a></li>
        <li><a target="_blank"
          href="http://www.w3.org/WAI/WCAG20/quickref/">
            How to Meet WCAG 2.0 Quick Reference</a></li>
        <li><a target="_blank"
          href="http://www.w3.org/WAI/eval/conformance">
            WCAG 2.0 Evaluation Methodology (WCAG-EM)</a></li>
    </ul>  </li>
  </ul>
</nav>